*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(98, 98, 98, 0.958);
}
.contenedor{
  display: flex;
  width: 300px;
  height: 320px;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  background: #ed8f02;
  box-shadow:  26px 26px 52px #a44302db,-26px -26px 52px #e48006;
}
.title{
  font-size: 4rem;
}
.count{
  font-size: 9rem;
}
button{
  cursor: pointer;
  border: 1px solid #a44302db; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #000000; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}
